

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#logo {
    font-family: 'Lato', sans-serif;
font-weight: 300;    
color: black;
    font-size: min(max(1.1rem, 1.6vw),42px);
    margin-top: 10%;
}

.kerning {
    font-size: 36px;

}

h3 {
    font-family: 'Lato', sans-serif;
    line-height: normal;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    font-size: min(max(0.8rem, 1.4vw),36px);
}

h4 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    letter-spacing: 1px;
    color: black;
    font-size: min(max(0.8rem, 1.4vw),36px);
}


h5 {
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    color: black;
    font-size: min(max(0.6rem, 1vw),12px);
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: black;
    font-size: min(max(0.7rem, 1.1vw),16px);
}

.review {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: black;
    font-size: min(max(0.7rem, 1.1vw),16px);
}

.avatar {
    position: relative;
    float: bottom;
    padding: 2%;
}

#apple {
max-width: 8vw;
min-width: 8vw;
max-height: auto;
min-height: auto;
margin-top:8%;
}

#google {
    width: 9vw;
    height: auto;
    margin-top:8%;
    margin-left: 3%;
    }

#AIintro {
    padding-left: 3%;
}

.icons {
    width: 3vw;
    height: auto;
    padding: 2%;
    border-radius: 4px;
}

.container {
    width: 100%;
    background-color: none;
}

.overview {
    background-color: white;
}

.feature {
    background-color: rgb(215,245,255);
}

.AI {
    background-color:white ;
}

.customers {
    background-color:rgb(255, 215, 236) ;
}

.hero {
    background-color: rgb(255, 236, 225);
}

.download {
    background-color:white;
}

.row {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.col-5 {
    padding-left: 3%;
}

#downloads {
    padding-top: 4%;
    padding-bottom: 3%;
}


#AIintro {
    margin-left: 6%;
    margin-top: 5%;
}

#iphone {
    width: 20vw;
    height: auto;
    padding: 1%;
    border-radius: 4px;
    float: left;
}

#gif {
    width: 20vw;
    height: auto;
    padding: 1%;
    border-radius: 4px;
    float: right;
}

#hero {
    width: 35vw;
    height: auto;
    padding: 1%;
    border-radius: 4px;
    float: right;
}


#imglogo {
    width: 4vw;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    border-radius: 4px;
}


.navbar {
    position: relative;
    width: 80%;
    height: auto;
    left: 10%;
    top: 26px;
    background-color: none;
}

.quotes {
  background-color: white;
  padding: 3%;
  margin-left: 1%;
}